CONFIG_FILE=/path/of/the/config/file.yaml

# CouchDB configuration
COUCHDB_HOST="http://127.0.0.1:5984"
COUCHDB_DB_NAME_API_RAW_RESPONSE="api_raw_response"
COUCHDB_DB_NAME_METRICS="metrics"
COUCHDB_USER_NAME_LOGGER="logger"
COUCHDB_USER_PASSWORD_LOGGER="logger"
COUCHDB_USER_NAME_UI="ui"
COUCHDB_USER_PASSWORD_UI="ui"
