<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather forecast logger</title>
    <meta name="description" content="Weather forecast logger">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
  </head>
  <body>
    <p>{{.Hello}} {{.World}}!</p>
    <div>
      <p><a href="/">Home</a> \ <a href="/">DE - Trier +</a> \ <a href="/">2022 +</a> \ <a href="/">February +</a></p>
    </div>
    <div width="100%" height="500px">
      <canvas id="myChart" height="500px"></canvas>
    </div>
    <script>
      const today = (new Date()).setHours(0,0,0,0);
      const ctx = document.getElementById('myChart');
      const myChart = new Chart(ctx, {
        options: {
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            xAxes: {
              display: true,
              type: 'time',
              time: {
                unit: 'day',
                displayFormats: {
                  'day': 'MMM DD'
                }
              },
              ticks: {
                major: {
                  enabled: false
                }
              },
              title: {
                display: true,
                text: "Date"
              },
              grid: {
                lineWidth: function(context) {
                  if (context.tick.value == today) {
                    return 3;
                  }

                  return 1;
                },
                color: function(context) {
                  if (context.tick.value == today) {
                    return "rgba(255,0,0,0.2)";
                  }

                  return Chart.defaults.borderColor;
                }
              }
            },
            yAxes: {
              title: {
                display: true,
                text: "Temperature"
              },
              grid: {
                lineWidth: function(context) {
                  if (context.tick.value == 0) {
                    return 3
                  }

                  return 1
                },
                color: function(context) {
                  if (context.tick.value == 0) {
                    return "rgba(0,0,255,0.2)";
                  }

                  return Chart.defaults.borderColor;
                }
              }
            }
          }
        },
        data: {
          labels: {{.Chart.Labels}},
          datasets: [
            {{range .Chart.Datasets}}{
              {{if eq .Label "Forecast MIN"}} 
                borderColor: "rgba(0,0,255,0.3)",
                backgroundColor: "rgba(0,0,255,0.3)",
              {{else if eq .Label "Forecast MAX"}}
                borderColor: "rgba(255,128,0,0.3)",
                backgroundColor: "rgba(255,128,0,0.3)",
              {{else if eq .Label "Historical MIN"}}
                borderColor: "rgba(178,102,255,0,3)",
                backgroundColor: "rgba(178,102,255,0.3)",
              {{else if eq .Label "Historical MAX"}}
                borderColor: "rgba(255,255,0,0,3)",
                backgroundColor: "rgba(255,255,0,0.3)",
              {{else}} 
                borderColor: "rgba(0,0,0,0.1)",
                backgroundColor: "rgba(0,0,0,0.1)",
              {{end}}
              type: "{{.Type}}",
              label: "{{.Label}}",
              data: [
                {{range .Data}}{x:{{.X}}, y:{{.Y}}, r:{{.R}}},
                {{end}}]
            },{{end}}
          ]
        }
      });
    </script>
  </body>
</html>
