version: 1.0.0

port: 8090

template:
  index: /app/web/template/index.html

database:
  path: /data/weather.db

scheduler:
  forecasts_interval: 6h
  historical_interval: 24h

providers:
  open_weather:
    api_key: "{your OpenWeatherMap API key}"
  accu_weather:
    api_key: "{your AccuWeather API key}"

locations:
  - name: "{city name}"
    country:
      name: "{country name}"
      alpha2_code: "{HU}"
    lat: 47.4979
    lon: 19.0402
    accu_weather_key: "{AccuWeather location key}"
