{
  "users": [
   {
      "name": "wl.logger",
      "password_hash": "",
      "hashing_algorithm": "",
      "tags": [
        
      ],
      "limits": {
        
      }
    },
    {
      "name": "wl.http",
      "password_hash": "",
      "hashing_algorithm": "",
      "tags": [
        
      ],
      "limits": {
        
      }
    }
  ],
  "vhosts": [
    {
      "name": "wl"
    }
  ],
  "permissions": [
    {
      "user": "wl.logger",
      "vhost": "wl",
      "configure": "",
      "write": ".*",
      "read": ".*"
    },
    {
      "user": "wl.http",
      "vhost": "wl",
      "configure": "",
      "write": ".*",
      "read": ".*"
    }
  ],
  "topic_permissions": [
    
  ],
  "parameters": [
    
  ],
  "global_parameters": [
  ],
  "policies": [
    
  ],
  "queues": [
    {
      "name": "command",
      "vhost": "wl",
      "durable": true,
      "auto_delete": false,
      "arguments": {
        "x-queue-type": "classic"
      }
    }
  ],
  "exchanges": [
    {
      "name": "http",
      "vhost": "wl",
      "type": "topic",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {
        
      }
    },
    {
      "name": "logger",
      "vhost": "wl",
      "type": "topic",
      "durable": true,
      "auto_delete": false,
      "internal": false,
      "arguments": {
        
      }
    }
  ],
  "bindings": [
    {
      "source": "http",
      "vhost": "wl",
      "destination": "command",
      "destination_type": "queue",
      "routing_key": "update:charts",
      "arguments": {
        
      }
    },
    {
      "source": "logger",
      "vhost": "wl",
      "destination": "command",
      "destination_type": "queue",
      "routing_key": "fetch:forecasts",
      "arguments": {
        
      }
    },
    {
      "source": "logger",
      "vhost": "wl",
      "destination": "command",
      "destination_type": "queue",
      "routing_key": "fetch:historical",
      "arguments": {
        
      }
    }
  ]
}
